.square {
      height: 50px;
      width: 50px;
      padding: 5px;
      /*border: 1px solid black;*/
      border: none;
      margin-top: -2px;
      background-color: white;
      border-radius: 0px;
      opacity: 0.65;
}

.row1, .row2, .row3 {
      margin-top: 5px;
}

.row1 {
      margin-left: 5px;
}

.board {
      display: flex;
      margin: auto;
}

.square0, .square3, .square6, .square1, .square4, .square7 {
      border-bottom: 1px solid black;
}

.square0, .square1, .square2, .square3, .square4, .square5 {
      border-right: 1px solid black;
}

.player-turn, .win-message, .tie-message {
      margin-top: 2%;
}